<ion-view title="Checkout">
  
  <ion-nav-view name="checkoutContent" animation='slide-left-right'></ion-nav-view>

  <!-- footer  -->
  <div class="bar bar-footer bar-royal"
  ng-hide="on.currentState()=='app.checkout.complete'">
    <button class="button button-outline button-light" 
      ng-click="on.back()"
      >
      <i class="icon ion-chevron-left"></i> Back
    </button>

    
    <button class="button button-outline button-light pull-right" 
      ng-click="on.next()"
      ng-hide="on.currentState()=='app.checkout.submit'"
      >
      Next <i class="icon ion-chevron-right"></i>
    </button>
  </div> 

</ion-view>

<script type="text/ng-template" id="partials/checkout/header-card">
  <div class="card header-card">
    <div class="item item-divider item-royal">
      {{headerCard.header}}
      <span class="pull-right capitalize" ><i class="icon ion-person"> {{otgProfile.displaySessionUsername()}}</i></span>
    </div>
    <div class="item item-text-wrap">
      {{headerCard.body}}
      <div class="row">
        <div class="col col-33 text-right">From:</div>
        <div class="col">{{checkout.dateRange.from}}</div>
      </div>
      <div class="row">
        <div class="col col-33 text-right">To:</div>
        <div class="col">{{checkout.dateRange.to}}</div>
      </div>
      <div class="row">
        <div class="col col-67 text-right">Consecutive Days:</div>
        <div class="col">{{checkout.count.days}}</div>
      </div>
      <div class="row" ng-show="on.getOrderType()=='camera-roll'">
          <div class="col col-67 text-right">Photos:</div>
          <div class="col">{{checkout.count.photos}}</div>
        </div>
      <hr>
      <div class="row">
        <div class="col col-67 text-right">Suggested Donation:</div>
        <div class="col">{{watch.servicePlan.total | currency:'$'}}</div>
      </div>
      <div class="row">
        <div class="assertive service-plans"
        ng-if="watch.servicePlan.plans.length==1">
          Based on: {{watch.servicePlan.plans[0]}}</div>
          <div class="assertive" ng-if="watch.servicePlan.plans.length>1">
          Based on:
          <ul class="padding-left" ng-repeat="plan in watch.servicePlan.plans">
            <li class="assertive" ng-bind="plan"></li>
          </ul>
        </div>
      </div>
      <div class="row" ng-show="on.getOrderType()=='calendar' && watch.servicePlan.total>1">
        <p>Note: No matter how many days you are On-the-Go, it is only $1 for your first 100 photos.</p>
      </div>
    </div> 

    <div class="item item-divider item-royal">
       {{headerCard.footer}}
    </div>   
  </div>
</script>

<script type="text/ng-template" id="partials/checkout/promo-card">
  <swipe-cards 
    ng-if="watch.servicePlan.total" 
    ><swipe-card class="card header-card"
    fly='left' 
    on-destroy="on.hide(this.swipeCard)">
      <div class="item item-divider item-balanced">
        {{i18n.tr('promo-card').header}}
      </div>
      <div class="item item-text-wrap">
        {{watch.promoCodeLabel.copy}}
        <button id="promo-code-button" class="button button-full button-balanced"
        ng-show="watch.promoCode"
        ng-click="on.getPromoCode($event, swipeCard);">
          {{watch.promoCodeLabel.button}}
        </button>
        <div class="list list-inset hide">
        <label class="item item-input">
          <input type="text" class="text-center" placeholder="Promo Code" ng-value="watch.promoCode">
        </label>
      </div>
      </div>
    </swipe-card></swipe-cards>
</script>

<script type="text/ng-template" id="partials/checkout/give-instead">
    <swipe-cards><swipe-card class="card"
    on-destroy="on.swipeOut(this, false)"
    fly="out">
      <ion-item class="item-divider item-balanced">
        This is your lucky day!
      </ion-item>
      <ion-item class="item-text-wrap">
        <p>We are currenly not accepting payments for our service. Yeah, that&#39;s right, <b>it&#39;s free.</b>
        </p>
        <p>
        However, as a social enterprise, we&#39;d still like to do some good.
        If you are happy with this service, please make a donation in the suggested amount to your favorite charity. We can also suggest an App to makes it super easy! (after you finish, of course...)
        </p>
      </ion-item>
    </div>
</script>


<script type="text/ng-template" id="partials/checkout/giving-app">
    <swipe-cards><swipe-card class="card"
    on-destroy="on.swipeOut(this, false)"
    fly="out">
      <ion-item class="item-divider item-balanced">
        Mobile Giving Made Easy
      </ion-item>
      <ion-item class="item-text-wrap">
        <p>As promised, here is a link to our favorite mobile giving App!</p>
        <div class="padding">
          <div ng-if="deviceReady.isWebView()==false">
            <a href="{{on.givingApp()}}" target="_blank"
              <button class="button button-full button-balanced" 
              >App for Mobile Giving
              </button>
            </a>
          </div>
          <div ng-if="deviceReady.isWebView()">
              <button class="button button-full button-balanced" 
              ng-click="on.givingApp()"
              >App for Mobile Giving
              </button>
          </div>
        </div>
      </ion-item>
    </swipe-card></swipe-cards>
</script>


<script type="text/ng-template" id="partials/checkout/payment">
  <ion-view title="Payment"  hide-back-button="true"><ion-content delegate-handle="checkout" class="has-footer">

    <div ng-include="'partials/checkout/give-instead'"></div>

    <div class="card">
      <ion-item class="item-divider item-calm">
        {{i18n.tr('legal-card').header}}
      </ion-item>
      <ion-item class="item-text-wrap legal">
        <div class='button button-positive button-full' 
        ng-click="modal.legal.showTab('terms-of-service')">
          {{i18n.tr('legal-card').tos}}
        </div>
        <ion-checkbox id='tos-checkbox' class="item-calm checkbox-balanced" 
        ng-model="user.tosAgree" 
        ng-click="on.tosClick($event)">
          {{i18n.tr('tos-agree', 'app.settings.legal')}}
        </ion-checkbox>
      </ion-item>
    </div>

    <ng-include src="'partials/checkout/header-card'"></ng-include>

  </ion-content></ion-view>
</script>

<script type="text/ng-template" id="partials/checkout/submit">
  <ion-view title="Submit Order"  hide-back-button="true"><ion-content class="has-footer">
    <ng-include 
    ng-if="config.system['order-standby']"
    src="'partials/order-standby'"></ng-include>
    <ng-include src="'partials/checkout/header-card'"></ng-include>
    <div class="padding-horizontal">
      <button class="button button-block button-balanced"
      ng-click="on.next()"
      >Submit Order</button>
    </div>
  </ion-content></ion-view>
</script>

<script type="text/ng-template" id="partials/checkout/complete">
  <ion-view title="Thank You"  hide-back-button="true"><ion-content class="has-footer">
  <div class="card header-card">
    <div class="item item-divider item-royal">
      {{headerCard.header}}
    </div>
    <div class="item item-text-wrap">
      <div ng-if="checkout.count.photos">
        <h2 class="text-center">Thank You For Your Order!</h2>
        <div>
        You have <span class="badge badge-assertive">{{checkout.count.photos}}</span> photos to upload.
        Be sure to activate the Uploader to begin uploading.
        </div>
      </div>
      <div ng-if="!checkout.count.photos">
        <h2 class="text-center"> Bon Voyage! Happy Trails! </h2>
        <div>
        Don&rsquo;t forget to take lots of photos while you are gone.
        We&rsquo;ll send you a notification when we find photos from your order. 
        <br /><br />
        And be sure to activate the Uploader when you are ready to upload. 
        </div>
      </div>
      <div class="padding-top">
        Here are some places to go next:
        <button class="button button-block button-dark icon-left ion-ios-cloud-upload"
        ui-sref="app.uploader">
          Uploader
        </button>

        <button class="button button-block button-assertive icon-left ion-archive"
        ui-sref="app.orders">
          Orders
        </button>
      </div>
    </div> 
    <div class="item item-divider item-royal">
       {{headerCard.footer}}
    </div>   

    <div ng-include="'partials/checkout/giving-app'"></div>

  </ion-content></ion-view>
</script>