<ion-view  hide-back-button="true" title="Account">
<ion-content class="has-header has-footer">

<div ng-if="on.currentState()=='app.checkout.sign-up'">
  <div ng-include="'partials/anonymous-signup'"></div> 
  <div class="list card header-card" >
    <div class="item item-divider item-royal">
      {{headerCard.header}}
    </div>

    <div ng-include src="'partials/anonymous-signup-fields'"></div>

    <div class="item item-divider item-royal">
       {{headerCard.footer}}
    </div>   
  </div>
</div>


<div ng-if="on.currentState()=='app.checkout.terms-of-service'">
  <div class="card header-card has-footer" >
    <div class="item item-divider item-royal">
      {{headerCard.header}}
      <span class="pull-right capitalize" ><i class="icon ion-person"> {{otgProfile.displaySessionUsername()}}</i></span>
    </div>
    <div class="item item-text-wrap">
      <div ng-include="'views/template/terms-of-service.html'"></div>
      
    </div> 
    <ion-checkbox class="item-royal checkbox-balanced" ng-model="user.tosAgree">
      {{i18n.tr('tos-agree', 'app.settings.legal')}}
    </ion-checkbox>

  </div>
</div>

</ion-content>
</ion-view>


