<!-- ion-tabs: calendar -->
<ion-content id="choose-tab-calendar" class="has-footer">
  <!-- header card  -->
  <swipe-cards><swipe-card class="card header-card" fly="out"
    on-destroy="on.dontShowHint(this, keep)"
    ng-hide="on.dontShowHint()"
  >
    <div class="item item-divider">
      {{i18n.tr('header-card').header}}
      <!-- <span class="badge badge-positive">{{filteredPhotos.length}} Photos</span> -->
    </div>
    <div class="item item-text-wrap">
      {{i18n.tr('header-card').body}}
    </div>
    <div class="item item-divider">
      <p class="fine cursor-pointer" ng-click="on.dontShowHint(this.$parent)"><i class="icon ion-close-circled"> {{i18n.tr('dont-show','app')}}</i></p>
    </div>
  </swipe-card></swipe-cards>
  

  <!-- calendar widget  -->
  <input class="invisible" id="datepicker-input" type="text" date-range="watch.dateRange" pick-a-date="watch.dateRange.selected" pick-a-date-options="watch.datePickerOptions" placeholder="Select From Date" /> 
  <div id="datepicker-wrap" class="padding-horizontal"></div>
  <br />

</ion-content>
