<ion-view title="{{label.title}}" hide-back-button="true" >
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content id="help"  class="has-header">
    <ion-list>

      <li class="item item-icon-left item-icon-right" ui-sref="app.help.pricing">
        <i class="icon ion-cash"></i>
        Service Plans &amp; Pricing
        <i class="icon ion-chevron-right"></i>
      </li>

      <li class="item item-icon-left item-icon-right" ui-sref="app.help.about">
        <i class="icon icon-snappi"></i>
        About Snaphappi
        <i class="icon ion-chevron-right"></i>
      </li>


      <a class="no-decoration" title="see On-the-Go on the web" href="{{watch.links['on-the-go']}}" ng-click='on.openHref($event)' target="_blank">
        <li class="item item-icon-left item-icon-right" >
          <i class="icon icon-snappi"></i>
          On-the-Go
          <i class="icon ion-android-open"></i>
        </li>
      </a>

      <li class="hide item item-divider"></li>
      
      <a class="hide no-decoration" title="see favorite mobile giving app" href="{{watch.links.giving}}" ng-click='on.openHref($event)' target="_blank">
        <li class="item item-icon-left item-icon-right" >
          <i class="icon ion-heart"></i>
          Mobile Giving Made Easy
          <i class="icon ion-android-open"></i>
        </li>
      </a>
      
    </ion-list>
  </ion-content>
</ion-view>

<script id="help/XXX-welcome" type="text/ng-template">
  <ion-view title="On-the-Go" hide-back-button="false">
    <ion-content class="has-header"  overflow-scroll="true">
      <iframe src="http://app.snaphappi.com/on-the-go" width="100%" height="100%"></iframe>    
    </ion-content>
  </ion-view>
</script>

<script id="help/pricing" type="text/ng-template">
  <ion-view title="Service Plan Pricing" hide-back-button="false">
    <ion-content class="has-header">
      <div ng-include="'partials/pricing'"></div>
    </ion-content>
  </ion-view>
</script>


<script id="help/about" type="text/ng-template">
  <ion-view title="About" id="about" hide-back-button="false" >
    <ion-content class="has-header"  overflow-scroll="true">
      <div class="row"><div class="col">
          <a class="logo" href="" target="_blank">
          </a>
          <div class="mission">
            Our mission is to help our users connect more deeply with their family photos by making the experience fun &amp; easy.
          </div>
      </div></div>
      <div class="row"><div class="col">  
        <p class="text-left">Only Snaphappi uses Trained Editors (real people) assisted by sophisticated algorithms to screen your family photos. We'll find your beautiful photos and hide duplicates, saving you hours of time and making it fun and easy to re-live your precious moments.</p>
        <p>And as a social enterprise, we're committed to creating sustainable work opportunities in developing countries.</p>
        <p>Let us do the work so you can just play.</p>

        <div class="connect-social text-center">
          <div>Connect with us online</div>
          <div>
            <a title="see our Facebook page" href="{{watch.links.facebook}}" ng-click='on.openHref($event)' target="_blank"><i class="icon ion-social-facebook"></i></a>
            <a title="see our Twitter feed" href="{{watch.links.twitter}}" ng-click='on.openHref($event)' target="_blank"><i class="icon ion-social-twitter"></i></a>
            <a title="see our Tumblr" href="{{watch.links.tumblr}}" ng-click='on.openHref($event)' target="_blank"><i class="icon ion-social-tumblr"></i></a>
          </div>
        </div>
      </div></div>
    </ion-content>
  </ion-view>
</script>

