<ion-side-menus ng-class="{'no-view-headers':config['no-view-headers']}">

  <ion-side-menu-content>
    <ion-nav-bar align-title="center" class="bar-positive nav-title-slide-ios7" 
    ng-hide="config['no-view-headers']">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large" is-enabled="true">
    <ng-include src='SideMenuSwitcher.leftSide.src'></ng-include>
  </ion-side-menu>

</ion-side-menus>


<script type="text/ng-template" id="partials/left-side-menu">
    <header class="bar bar-header bar-positive" ng-if="!config['no-view-headers']">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item class="item-icon-left item-icon-right" nav-clear menu-close href="#/app/top-picks">
        <i class="icon ion-images positive"></i>
          Top Picks
          <span class="badge badge-balanced">{{menu.top_picks.count}}</span>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.choose.calendar">
          <i class="icon ion-calendar positive"></i>
          Choose Your Days
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/orders">
          <i class="icon ion-archive positive"></i>
          My Orders
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/uploader">
          <i class="icon ion-ios7-cloud-upload positive"></i>
          Uploader
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/settings">
          <i class="icon ion-gear-b positive"></i>
          Settings
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/help">
          <i class="icon ion-help-circled positive"></i>
          Help
        </ion-item>

      <div ng-show="SideMenuSwitcher.mediaQuery()">  
        <ion-item class="item-divider">
          (for Editors only)
        </ion-item>
        <ion-item class="item-icon-left item-assertive" nav-clear menu-close 
        ui-sref="app.workorders.all"
        ng-click="SideMenuSwitcher.leftSide.src='partials/workorders/left-side-menu'">
          <i class="icon ion-archive icon-assertive"></i>
          Workorders
        </ion-item>
      </div>


      </ion-list>
    </ion-content>
</script>  

 
