<ion-side-menus enable-menu-with-back-views="false"  
ng-class="{'no-view-headers':config['no-view-headers']}">

  <ion-side-menu-content edge-drag-threshold="true" drag-content="!config['no-view-headers']">
    <ion-nav-bar class="bar-positive nav-title-slide-ios7" 
    ng-hide="config['no-view-headers']">
      <ion-nav-back-button></ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large" is-enabled="true">
    <ng-include src='SideMenuSwitcher.leftSide.src'></ng-include>
  </ion-side-menu>

</ion-side-menus>


 

 
