<ion-side-menus enable-menu-with-back-views="false"  
ng-class="{'no-view-headers':config['no-view-headers']}">

  <ion-side-menu-content edge-drag-threshold="true" drag-content="!config['no-view-headers']">
    <ion-nav-bar class="bar-positive nav-title-slide-ios7" 
    ng-hide="config['no-view-headers']">
      <ion-nav-back-button></ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large" is-enabled="true">
    <ng-include src='SideMenuSwitcher.leftSide.src'></ng-include>
  </ion-side-menu>

</ion-side-menus>


<script type="text/ng-template" id="partials/left-side-menu">
    <header class="bar bar-header bar-positive" ng-if="!config['no-view-headers']">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item class="item-icon-left item-icon-right" nav-clear menu-close ui-sref="app.top-picks.top-picks">
        <i class="icon ion-images positive"></i>
          Top Picks
          <span class="badge badge-balanced" ng-show="$root.counts['top-picks']"
          >{{$root.counts['top-picks']}}</span>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.choose.camera-roll">
          <i class="icon ion-calendar positive"></i>
          Choose Your Days
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" nav-clear menu-close ui-sref="app.orders">
          <i class="icon ion-archive positive"></i>
          My Orders
          <span class="badge badge-balanced" ng-show="$root.counts.orders"
          >{{$root.counts.orders}}</span>
        </ion-item>
        <ion-item class="item-icon-left  item-icon-right" nav-clear menu-close ui-sref="app.uploader">
          <i class="icon ion-ios-cloud-upload positive"></i>
          Uploader
          <span class="badge badge-assertive" ng-show="$root.counts.uploaderRemaining"
          >{{$root.counts.uploaderRemaining}}</span>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.settings.main">
          <i class="icon ion-gear-b positive"></i>
          Settings
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/help">
          <i class="icon ion-ios-information positive"></i>
          Resources
        </ion-item>

      <div ng-show="user.role=='editor'">  
        <ion-item class="item-divider">
          (for Editors only)
        </ion-item>
        <ion-item class="item-icon-left item-assertive" nav-clear menu-close ui-sref="app.workorders.all"
        ng-click="on.menu('editor')">
          <i class="icon ion-archive icon-assertive"></i>
          Workorders
        </ion-item>
      </div>


      </ion-list>
    </ion-content>
</script>  

 
