<ion-view view-title="Profile" id="profile">
  <ion-content  id="settings" class="has-header">

<div ng-if="otgProfile.isAnonymous()"> 
    <div ng-include="'views/partials/anonymous-signup.html'"></div> 

    <!-- header card : guest -->
    <div class="list card header-card">
      <div class="item item-divider item-energized">
        <i class="icon ion-person"> {{i18n.tr('aaa')['sign-up']}}</i>
        <span class="pull-right"
        ng-click="signOut($event)"
        >{{i18n.tr('aaa')['sign-in']}} <i class="icon ion-log-in icon-large"></i>
        </span>
      </div>

      <div ng-include src="'views/partials/anonymous-signup-fields.html'"></div>

      
      <div class="item item-text-wrap item-icon-left padding">
        <input type="submit" class="button button-block button-energized" 
          value="{{i18n.tr('aaa')['submit']}}"
          ng-class="otgProfile.ngClassSubmit()"
          ng-click="submit($event)"
          >
        </input>
      </div>   

      <div class="item item-divider item-energized">
      </div>          
        
    </div>
</div>    

<div ng-if="!otgProfile.isAnonymous()">
    <div class="padding">
      <p class="text-center"><span class="username badge badge-positive capitalize padding"><i class="icon ion-person"> {{user.username}}</i></span></p>
      <p>Hello <span class="capitalize">{{user.username}}</span>. You can manage your account information below.</p>
    </div>
    <!-- header card : named user  -->
    <div class="list card header-card" >
      <div class="item item-divider item-energized">
        <i class="icon ion-person"> {{i18n.tr('aaa')['profile']}}</i>
        <span class="pull-right"
        ng-click="signOut($event)"
        >{{i18n.tr('aaa')['sign-out']}} <i class="icon ion-log-in icon-large"></i>
        </span>
      </div>

      <div ng-include src="'views/partials/anonymous-signup-fields.html'"></div>

      <!-- // anonymous only -->
      <div class="item item-text-wrap item-icon-left padding">
        <button class="button button-block button-assertive" 
        ng-if="!otgProfile.isAnonymous()"
        ng-show="!otgProfile.email.dirty && !user.emailVerified"
        ui-sref="app.settings.main">
        {{i18n.tr('aaa')['email-verify']}}
        </button>

        <input type="submit" class="button button-block button-energized"  tabindex="10"
          value="{{i18n.tr('aaa')['submit']}}"
          ng-class="otgProfile.ngClass{{i18n.tr('aaa')['submit']}}()"
          ng-click="submit($event)"
          >
        </input>  
      </div>  

      <div class="item item-divider item-energized">
      </div>  

    </div>
</div>



  </ion-content>
</ion-view>




