
<ion-view class="legal"  
title="{{i18n.tr('title', 'app.settings.legal')}}" 
ng-class="isModal ? 'app-modal' : ''"
>


  <div ng-show='isModal' class="tabs bar-header bar bar-positive">
    <h1 class="title">Legal</h1>
      <button class="button button-icon icon ion-close-circled"
      ng-click="isModal.hide()"></button>
  </div>

  <!-- ion-tabs -->
  <ion-tabs class="tabs-calm tabs-top">


    <!-- ion-tab: terms-of-service -->
    <ion-tab title="{{i18n.tr('tos', 'app.settings.legal')}}"
    on-select='on.showSpinnerWhenIframeLoading("tos")'
    >
      <ion-content class="has-header has-footer iframe-wrap">
        <!-- <div class="padding" ng-include="'legal/terms-of-service.html'">
        </div> -->
        <iframe src="http://app.snaphappi.com/on-the-go.App/legal/terms-of-service.html"></iframe>
      </ion-content>

      <div class="bar bar-footer bar-calm">
        <ion-checkbox class='checkbox-positive item-calm' ng-model="user.tosAgree">
          {{i18n.tr('tos-agree', 'app.settings.legal')}}
        </ion-checkbox>
      </div>

    </ion-tab>

    <!-- ion-tabs: privacy-policy -->
    <ion-tab title="{{i18n.tr('privacy', 'app.settings.legal')}}"
    on-select='on.showSpinnerWhenIframeLoading("privacy")'
    >
      <ion-content class="has-header iframe-wrap">
        <!-- <div class="padding" ng-include="'legal/privacy-policy.html'"></div> -->
        <iframe src="http://app.snaphappi.com/on-the-go.App/legal/privacy-policy.html"></iframe>
      </ion-content>
    </ion-tab>

  </ion-tabs>

</ion-view>




