<ion-view class="dark-bg" view-title="{{watch.viewTitle}}" hide-back-button="true" >
  <!-- <ion-nav-title>{{i18n.tr('title', null, 'app.top-picks')}}</ion-nav-title> -->
  <ion-nav-buttons side="primary">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-ios-information-outline" 
          ng-click="on.showInfo('toggle')">
        </button>
  </ion-nav-buttons>


  <ion-content 
  header-shrink platform="platform-browser" 
  delegate-handle="collection-repeat-wrap" 
  class="has-header">
    <ion-refresher
      pulling-text=""
      on-refresh="on.refresh()">
    </ion-refresher>
    <div class="ng-repeat-filter button-bar bar-royal">
      <a class="button icon ion-checkmark-circled" ui-sref="app.top-picks.top-picks" ui-sref-active="active">
        <span class="badge badge-dark">{{watch.counts['top-picks']}}</span> 
      </a>
      <a class="button icon ion-heart" ui-sref=".favorites"  ui-sref-active="active">
        <span class="badge badge-dark">{{watch.counts['favorites']}}</span> 
      </a>
      <a class="button icon ion-ios-upload-outline" ui-sref=".shared"  ui-sref-active="active">
        <span class="badge badge-dark">{{watch.counts['shared']}}</span> 
      </a>
    </div>
    <!-- header card  -->
    <swipe-cards><swipe-card class="card header-card" 
    fly="out"
    on-destroy="on.dontShowHint(this, keep)"
    ng-hide="on.dontShowHint()"
    >
      <div class="item item-divider item-header">
        {{i18n.tr('header-card').header}}
        <span class="badge badge-positive">{{watch.filteredOrderedPhotos.length}} Photos</span>
      </div>
      <div class="item item-text-wrap">
        {{i18n.tr('header-card').body}}

        <button class="button icon ion-image button-assertive button-full"
        ng-if='0'
        ng-click="on.test()"> Test</button>
      </div>


      <div class="empty-list" ng-if="watch.filteredOrderedPhotos.length==0 && watch.$state.includes('app.top-picks.top-picks')"> 
          <div class="item item-text-wrap">
            <div class="text-center">
              <h2>{{i18n.tr('empty-list').header}}</h2>
                <div ng-if="watch.orderCount==0">
                  <div class="text-center">
                    {{i18n.tr('empty-list').choose}}
                  </div>
                  <br />
                  <div>
                    <button class="button button-balanced button-large" style="white-space: nowrap;"
                    ui-sref="app.choose.camera-roll">{{i18n.tr('empty-list').buttonLabelChoose}}</button> 
                  </div>
                </div>
                <div ng-if="watch.orderCount>0">
                  <div class="text-center">
                    {{i18n.tr('empty-list').upload}}
                  </div>
                  <br />
                  <div>
                    <button class="button button-assertive button-large" style="white-space: nowrap;"
                    ui-sref="app.uploader">{{i18n.tr('empty-list').buttonLabelUpload}}</button> 
                  </div>
                </div>
            </div>
            <button class="button icon ion-image button-assertive button-full"
            ng-if='0'
            ng-click="on.test()"> Test</button>
        </div>
      </div>      
      <div class="item item-divider item-footer">
        <p class="fine cursor-pointer" ng-click="on.dontShowHint(this.$parent)"><i class="icon ion-close-circled"> {{i18n.tr('dont-show','app')}}</i></p>
      </div>
    </swipe-card></swipe-cards>

    <!-- <div ng-include="'views/template/gallery.html'"></div> -->


    <!--
      - keep item in view on scroll.resize()
      - swipe left/right, like tinder, add class .pick/.skip
      - swipe up to group, or tap in corner
      - http://codepen.io/anon/pen/AEDfa swipeable ion-list
      - http://codepen.io/anon/pen/migzv collection-repeat version
      - http://codepen.io/anon/pen/KwPBMO: collection-repeat with swipecard left-right

    -->

    <!-- collection-repeat  -->
    <ion-list class="otg-cr-preview" swipe-cards>
        <div
        collection-repeat="item in watch.filteredOrderedPhotos track by UUID"
        item-height="on.getItemHeight(item, $index)"
        item-width="100%"
        item-render-buffer="3"
        force-refresh-images="true"
        >
          <div class="padding-horizontal card-wrap">
            <swipe-card class="card photo-card"
            uuid-ext="{{item.id}}"
            on-keep="on.cardKeep(item)" 
            on-reject="on.cardReject(item)" 
            on-card-swipe="on.cardSwiped(item, $index)"
            ng-click="on.cardClick(this, $event, item)">
              <!-- header -->
              <div class="item item-divider item-stable padding-horizontal card-header"
              ng-if="on.showInfo()">
                <div class="caption capitalize">
                  {{item.caption || (item.dateTaken | date:'MM/dd/yyyy @ h:mma')}}
                </div>
              </div>

              <!-- body -->
              <div class="item item-image">
                <div class="photo-wrap">
                  <img 
                  lazy-src="{{ item.UUID }}" spinner
                  format="preview"
                  height="{{item.scaledH}}">
                </div>
              </div>

              <!-- footer -->
              <div class="item item-stable tabs card-footer "
              ng-if="on.showInfo()">
                <div class="tab-item icon ion-ios-compose-outline"
                ng-click="on.addCaption($event, item)"
                ></div>
                <div class="tab-item royal icon"
                ng-click="on.addShare($event, item)"
                ng-class="{'ion-ios-upload royal':item.shared,
                'ion-ios-upload-outline':!item.shared}"
                ></div>
                <div class="tab-item royal icon"
                ng-click="on.setFavorite($event, item, 'toggle')"
                ng-class="{'ion-ios-heart royal':item.favorite,
                'ion-ios-heart-outline':!item.favorite}"
                ></div>
              </div>
            </swipe-card>
          </div> <!--  end .photo-card  -->

      </div>
    </ion-list>


    <div class="ion-scroll-bottom-spacer-hack scroll-has-tabs"></div>

  </ion-content>
</ion-view>


