<ion-view  title="{{label.title}}" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <div class="buttons">
        <button class="button button-icon icon ion-ios7-information-outline" 
          ng-click="on.showInfo('toggle')">
        </button>
      </div>
  </ion-nav-buttons>

<!--   <ion-header-bar class="bar-subheader">
  </ion-header-bar>
 -->


  <ion-content class="collection-repeat-wrap">
    <div class="button-bar bar-balanced">
      <button class="button" ui-sref="app.workorders.photos({oid:wo.objectId})" ui-sref-active="active">
        <i class="icon ion-ios7-cloud-upload"></i> All Photos 
        <!-- <span class="badge badge-dark">{{($scope.photos | workorderPhotoFilter:'none').length}}</span>  -->
        </button>
      <button class="button" ui-sref="app.workorders.photos.todo({oid:wo.objectId})"  ui-sref-active="active">  <i class="icon ion-ios7-gear ion-spin"></i> To-Do 
      <!-- <span class="badge badge-dark">{{($scope.photos | workorderPhotoFilter:'todo').length}}</span>  -->
      </button>
      <button class="button" ui-sref="app.workorders.photos.picks({oid:wo.objectId})"  ui-sref-active="active">
        <i class="icon ion-ios7-checkmark"></i> Picks
        <!-- <span class="badge badge-dark">{{($scope.photos | workorderPhotoFilter:'picks').length}}</span>  -->
        </button>
    </div>
    <!-- header card  -->
    <div class="card header-card card-animate" 
    on-drag-left="on.dontShowHint($event)"
    ng-hide="on.dontShowHint()"
    animation="slide-out-left-XXX"
    ng-style="data.cardStyle"
    >
      <div class="item item-divider item-header">
        {{label.header_card[$state.current.name].header}}
        <span class="badge badge-positive">{{filteredPhotos.length}} Photos</span>
      </div>
      <div class="item item-text-wrap">
        {{label.header_card[$state.current.name].body}}
      </div>
      <div class="item item-divider item-footer">
        <p class="fine" ng-click="on.dontShowHint($event)"><i class="icon ion-close-circled"> Don't Show Me Again</i></p>
      </div>
    </div>

    <div ng-include="'views/template/gallery.html'"></div>
  </ion-content>
</ion-view>


