<script type="text/ng-template" id="partials/workorders/left-side-menu">
    <header class="bar bar-header bar-assertive">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.top-picks"
        ng-click="SideMenuSwitcher.leftSide.src='partials/left-side-menu'">
        <i class="icon ion-images positive"></i>
          Back to App
        </ion-item>
        <ion-item class="item-divider">
          (for Editors only)
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.workorders.all">
          <i class="icon ion-archive assertive"></i>
          Workorders
        </ion-item>
      </ion-list>

      <div workorder-in-progress-card ng-model="SideMenuSwitcher.watch.workorder"></div>


    </ion-content>
</script>   


<script type="text/ng-template" id="partials/workorders/menu-workorder-snapshot">
  
  <!-- // make into directive, add watch on SideMenuSwitcher.watch.workorder, refresh -->
  
  <div class="list card menu workorder-card"
  ng-show="order">
    <div class="item item-divider item-assertive">
    <i class="icon ion-gear-b"> {{order.fromDate | date}} - {{order.toDate | date}}</i>
    </div>


    <div class="item item-text-wrap item-icon-left">
      <i class="icon ion-clipboard"></i>
      <div>Order ID: {{order.objectId }}</div>
      <div>Order Date: {{order.createdAt | date }}</div>
      <div>Plan: <span ng-if="order.checkout.count.photos">{{order.count_expected}} Photos in </span>{{order.count_days}} Days
      </div>
      <div>Total: {{order.servicePlan.total | currency:$}}
        <div class="assertive service-plans"
        ng-if="order.servicePlan.plans.length==1">
          Based on: {{order.servicePlan.plans[0]}}</div>
          <div class="assertive" ng-if="order.servicePlan.plans.length>1">
          Based on:
          <ul class="padding-left" ng-repeat="plan in order.servicePlan.plans">
            <li class="assertive" ng-bind="plan"></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="item item-text-wrap item-icon-left">
      <i class="icon ion-person"></i>
      <div>Owner: {{order.owner.objectId}}</div>
    </div>


    <div class="item item-text-wrap item-icon-left">
      <i class="icon ion-clock"></i>
      <div>Status: {{order.status}}</div>
      <div>Photos: 
        <span class="badge" upload-status 
        ng-class="ngClass_UploadStatus(order)" 
        ng-bind="ngBind_UploadStatus(order)"></span>

        <ul class="padding-horizontal"><li class="badge badge-light">Expected: {{ order.count_expected }}</li>
        <li class="badge badge-light">Received: {{ order.count_received }}</li>
        <li class="badge badge-light">Duplicates: {{ order.count_duplicate}}</li></ul>

      </div>
    </div>

    <div class="item item-text-wrap item-icon-left">
      <i class="icon ion-ios7-gear ion-spin"></i>
      <div>Work: 
        <ul class="padding-horizontal">
        <li class="badge badge-light">Total: {{order.count_expected }} </li>
        <li class="badge badge-light">ToDo: {{order.progress.todo || '&mdash;' }} </li>
        <li class="badge badge-light">TopPicks: {{order.progress.picks ||  0 }} </li>
        </ul>
      </div>
    </div>
  
    <div class="item item-divider item-assertive">
    <!-- footer  -->
    </div>
  </div><!--  end workorder-card  -->
</script> 


