<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		id="com.snaphappi.native-messenger.Messenger"
		version="0.0.2dev">

	<name>CordovaNativeMessenger</name>

	<description>YADA YADA</description>
	<repo></repo>
	<keywords>messanging,events</keywords>

	<engines>
		<engine name="cordova" version=">=3.0.0"/>
	</engines>

	<js-module src="www/messenger.js" name="Messenger">
		<clobbers target="window.Messenger"/>
	</js-module>

	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="CordovaNativeMessenger">
				<param name="ios-package" value="CordovaNativeMessenger" onload="true" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<header-file src="src/ios/CordovaNativeMessenger.h"/>
		<source-file src="src/ios/CordovaNativeMessenger.m"/>
        
        <header-file src="src/ios/PhotosUploader.h"/>
        <source-file src="src/ios/PhotosUploader.m"/>
        
        <header-file src="src/ios/NSOperationQueue+SynchronousOperation.h"/>
        <source-file src="src/ios/NSOperationQueue+SynchronousOperation.m"/>
        
        <header-file src="src/ios/SynchronousOperation.h"/>
        <source-file src="src/ios/SynchronousOperation.m"/>
        
        <header-file src="src/ios/PHAsset+DataSourceAdditions.h"/>
        <source-file src="src/ios/PHAsset+DataSourceAdditions.m"/>

        <header-file src="src/ios/UIImage+FixOrientation.h"/>
        <source-file src="src/ios/UIImage+FixOrientation.m"/>
        
        <header-file src="src/ios/AppDelegate+Additions.h"/>
        <source-file src="src/ios/AppDelegate+Additions.m"/>
        
        <header-file src="src/ios/NSURLSessionTaskInfo.h"/>
        <source-file src="src/ios/NSURLSessionTaskInfo.m"/>

		<framework src="Photos.framework" weak="true" />
	</platform>

</plugin>