<ion-view  title="{{label.title}}" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <div class="buttons">
        <button class="button button-icon icon ion-ios7-information-outline" 
          ng-click="on.showInfo('toggle')">
        </button>
      </div>
  </ion-nav-buttons>

<!--   <ion-header-bar class="bar-subheader">
  </ion-header-bar>
 -->


  <ion-content delegate-handle="collection-repeat-wrap">
    <div class="button-bar bar-balanced">
      <button class="button" ui-sref="app.workorders.photos({oid:wo.objectId})" ui-sref-active="active">
        <i class="icon ion-ios7-cloud-upload"></i> All Photos 
        <span class="badge badge-dark">{{workorderAttr.count_expected}}</span> 
        </button>
      <button class="button" ui-sref="app.workorders.photos.todo({oid:wo.objectId})"  ui-sref-active="active">  <i class="icon ion-ios7-gear ion-spin"></i> To-Do 
      <span class="badge badge-dark">{{workorderAttr.progress.todo || '&mdash;'}}</span> 
      </button>
      <button class="button" ui-sref="app.workorders.photos.picks({oid:wo.objectId})"  ui-sref-active="active">
        <i class="icon ion-ios7-checkmark"></i> Picks
        <span class="badge badge-dark">{{workorderAttr.progress.picks}}</span> 
        </button>
    </div>
    <!-- header card  -->
    <div class="card header-card card-animate" 
    on-drag-left="on.dontShowHint($event)"
    ng-hide="on.dontShowHint()"
    animation="slide-out-left-XXX"
    ng-style="data.cardStyle"
    >
      <div class="item item-divider item-header">
        {{label.header_card[$state.current.name].header}}
        <span class="badge badge-positive">{{filteredPhotos.length}} Photos</span>
      </div>
      <div class="item item-text-wrap">
        {{label.header_card[$state.current.name].body}}
      </div>
      <div class="item item-divider item-footer">
        <p class="fine" ng-click="on.dontShowHint($event)"><i class="icon ion-close-circled"> Don't Show Me Again</i></p>
      </div>
    </div>

    <!-- <div workorder-in-progress-card ng-model="SideMenuSwitcher.watch.workorder"></div> -->

    <!-- collection-repeat  -->
    <div class="otg-preview-list"
                show-delete="watch.showDelete"
                show-reorder="watch.showReorder"
                can-swipe="watch.canSwipe">
      <div 
        collection-repeat="item in filteredPhotos"
        collection-item-width="'67%'"
        collection-item-height="getItemHeight(item, $index)"
        collection-repeat-scroll-wrap="collection-repeat-wrap"
        resize="on.showInfo()"
        xxx-ng-style="{height: getItemHeight(item, $index)}"
        >
<div class="responsive-md-wrap" ng-style="data.cardStyle">
          <div class="card workorder photo-card"
          >
            <div class="item item-divider item-stable padding-horizontal"
            ng-if="on.showInfo()">
              <div class="caption">{{item.caption || item.assetId}}</div>
            </div>
            <div class="item item-image">
              <img ng-src="{{item.src}}" height="{{item.height}}" xxx-img-cache>
            </div>
            <div class="item item-stable tabs tabs-secondary tabs-icon-left"
            ng-if="on.showInfo()">
              <a class="tab-item" href="#"
              ng-click="on.notTopPick($event, item)">
                <i class="icon" 
                ng-class="{ 'ion-ios7-close assertive':item.topPick===false,
                'ion-ios7-close-outline':item.topPick!==false }"></i>
              </a>
              
              <a class="tab-item" href="#"
              ng-class="{'activated tab-item-royal':item.favorite}">
                <i class="icon"
                ng-class="{'ion-ios7-heart-outline':!item.favorite,
                'ion-ios7-heart':item.favorite}"></i>
              </a>

              <a class="tab-item" href="#"
              ng-class="{'activated tab-item-balanced':item.topPick}"
              ng-click="on.addTopPick($event, item)">
                <i class="icon"
                ng-class="{'ion-ios7-checkmark-outline':item.topPick!==true, 
                'ion-ios7-checkmark balanced':item.topPick===true}"></i>
              </a>
            </div>
          </div>
</div>
      </div>
    </div>



  </ion-content>
</ion-view>


