<!-- anonymous-signup-fields -->
<div ng-show="otgProfile.errorMessage">
  <div  class="error-message padding">{{otgProfile.errorMessage}}</div>
</div>

<label class="item item-input item-icon-right">
  <span class="input-label">Username</span>
  <input type="text" ng-model="otgProfile.userModel().username" placeholder="HappiGuy" tabindex="1">
  <i class="icon"  
  ng-class="otgProfile.username.ngClassValidIcon()"></i>
</label>

  <!-- // anonymous only -->
<div ng-if="otgProfile.isAnonymous()">
  <label class="item item-input item-icon-right">
    <span class="input-label">Password</span>
    <input type="password" ng-model="otgProfile.userModel().password" placeholder="Required" tabindex="2">
    <i class="icon"
    ng-class="otgProfile.password.ngClassValidIcon()"></i>
  </label>
</div>

  <!-- // named user only -->
<div ng-if="!otgProfile.isAnonymous()">
  <label class="item item-input item-icon-right">
    <span class="input-label">Password</span>
    <input type="password" ng-model="otgProfile.userModel().password" placeholder="Required"  tabindex="3"
    ng-click="otgProfile.password.edit($event)"
    ng-readonly="!otgProfile.password.dirty()"
    >
    <i class="icon" tabindex=-1 ng-show="!otgProfile.password.dirty()">
      <button class="button button-small button-assertive" 
      ng-click="otgProfile.password.edit($event)">
        <i class="icon ion-edit"></i>
      </button>
    </i>
    <i class="icon"  
    ng-show="otgProfile.password.dirty()"
    ng-class="otgProfile.password.ngClassValidIcon()"></i>
  </label>
</div>

<div ng-if="otgProfile.isAnonymous() || otgProfile.password.dirty()">
  <label class="item item-input item-icon-right">
    <span class="input-label">Password</span>
    <input type="password" placeholder="(again)"  tabindex="4"
    ng-model="otgProfile.password.passwordAgainModel" >
    <i class="icon"  
    ng-class="otgProfile.password.ngClassConfirmedIcon()"></i>
  </label>
</div>

<div class="item item-input item-icon-right" >
  <span class="input-label">Email</span>
  <input type="text" ng-model="otgProfile.userModel().email" placeholder="me@email.com"   tabindex="5" > 
  <i class="icon"  ng-class="otgProfile.email.ngClassEmailIcon()"></i>
</div>


<!-- // named user only -->
<div ng-if="!otgProfile.isAnonymous() && otgProfile.dirty()">
  <label class="item item-input item-icon-right">
    <span class="input-label">Confirm ID</span>
    <input type="password" placeholder="Your CURRENT Pwd"  tabindex="6"
    ng-model="otgProfile.userModel().currentPassword" >
    <i class="icon"  
    ng-class="otgProfile.password.ngClassValidIcon('currentPassword')"></i>
  </label>
</div>
