<!-- modal-console.html -->
  <div class="app-console-modal">
    <ion-content>
      <div class="bar-header bar bar-assertive">
        <h1 class="title">App Console</h1>
          <button class="button button-icon icon ion-close-circled"
          ng-click="$parent.$parent.modal.appConsole.hide()"></button>
      </div>
      <div class="body padding" ng-click="$parent.modal.appConsole.hide()">
        <div>
          <pre>{{$parent.$parent.modal.appConsole._message}}</pre>
        </div>
      </div>
    </ion-content>
  </div>