  <div class="card has-header" ng-if=0>
    <div class="item item-divider text-center item-balanced">
    Suggested Donations
    </div>
    <div class="item item-text-wrap text-left">
      <div>
        We are currently not accepting payment for our services.
        However, as a social enterprise, we&#39;d still like to do some good. 
        The prices below are suggested donations for our services.  
      </div>
    </div>
  </div>
  <div class="card has-header" ng-if=1>
    <div class="item item-divider text-center item-balanced">
    Your Lucky Day!
    </div>
    <div class="item item-text-wrap text-left">
      <div>
        We are offering <b>3 days free</b> for our first 100 orders. 
        Promo codes are available during checkout. 
      </div>
    </div>
  </div>
  </div>  
  <div class="card has-header">
    <div class="item item-divider text-center item-positive">
    Daily
    </div>
    <div class="item item-text-wrap text-center">
      <strong>$1/day</strong>
      <div>Unlimited photos over any 24 hrs, or 100 photos over any period</div>
    </div>
  </div>
  <div class="card">
    <div class="item item-divider text-center item-positive">
    Weekly
    </div>
    <div class="item item-text-wrap text-center">
      <strong>$5/week</strong>
      <div>Unlimited photos over any 7 consecutive days</div>
    </div>
  </div>
  <div class="card">
    <div class="item item-divider text-center item-positive">
    Monthly
    </div>
    <div class="item item-text-wrap text-center">
      <strong>$10/month</strong>
      <div>Unlimited photos over any 30 consecutive days</div>
    </div>
  </div>