<!-- sign-in.html -->
		<div class="list card header-card">
      <div class="item item-divider item-energized">
        <i class="icon ion-person"> Sign In</i>
      </div>

      <div ng-show="otgProfile.errorMessage">
        <div  class="error-message padding">{{otgProfile.errorMessage}}</div>
      </div>
      <label class="item item-input item-icon-right">
        <span class="input-label">{{i18n.tr('user', 'app.settings.sign-in')}}</span>
        <input type="text" ng-model="otgProfile.userModel().username" placeholder="HappiGuy" tabindex="1" >
      </label>

      <label class="item item-input item-icon-right">
        <span class="input-label">{{i18n.tr('pass', 'app.settings.sign-in')}}</span>
        <input type="password" ng-model="otgProfile.userModel().password" placeholder="Required" tabindex="2" >
      </label>

      <div class="item item-text-wrap item-icon-left padding">
        <input type="submit" class="button button-block button-energized padding-horizontal"  tabindex="3"
          value="{{i18n.tr('submit', 'app.settings.sign-in')}}"
          ng-class="otgProfile.ngClassSignin()"
          ng-click="on.signIn($event)"
          >
          
        </input>
      </div>
        
      <div class="item item-divider item-energized">
      </div> 
    </div>
