<!-- tab-order-open.html -->
    <ion-view view-title="{{watch.viewTitle}}" hide-back-button="true" >
      <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content class="has-header">
        <!-- <h2 class="text-center">Open Orders</h2> -->
        <ion-refresher
          pulling-text=""
          on-refresh="on.refresh()">
        </ion-refresher>

        <div ng-repeat="order in filteredOrders = (workorders = $root.orders | filter:filterStatusNotComplete )">
          <div ng-include="'views/partials/order-card.html'"></div>
        </div>
        <div class="empty-list" ng-if="!filteredOrders.length"> 
          <div class="card empty-list" >
            <div class="item item-text-wrap">
              <div class="text-center">
                <h2>You have no open orders.</h2>

                  <div class="energized padding-vertical" ng-show="watch.isOffline()">Warning: Your device is offline.</div>

                  <div class="text-left">
                    <div><span ng-show="workorders.length">And we miss you.</span> Why don&apos;t you send us some old vacation photos?</div>
                  </div>
                  <br />
                  <div>
                    <button class="button button-balanced button-large" style="white-space: nowrap;"
                    ui-sref="app.choose.camera-roll">Choose Your Days</button> 
                  </div>
              </div>
            </div>
          </div>
        </div>

      </ion-content>
    </ion-view>  