<!-- tab-order-open.html -->
    <ion-view view-title="{{watch.viewTitle}}" hide-back-button="true" >
      <ion-nav-buttons side="primary">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content class="has-header" delegate-handle="order-open">
        <!-- <h2 class="text-center">Open Orders</h2> -->
        <ion-refresher
          pulling-text=""
          on-refresh="on.refresh()">
        </ion-refresher>

        <div ng-repeat="order in filteredOrders = (watch.orders | filter:filterStatusNotComplete )">
          <div ng-include="'views/partials/order-card.html'"></div>
        </div>
        <div class="empty-list" ng-if="filteredOrders.length==0"> 
          <div class="card empty-list" ng-hide="watch.isSyncing">
            <div class="item item-text-wrap">
              <div class="text-center">
                <h2>You have no open orders.</h2>

                <div ng-if="$root.counts.orders==0">

                  <div class="text-left">
                    <div><span ng-show="orders.length">And we miss you.</span> Why don&apos;t you send us some old vacation photos?</div>
                  </div>
                  <br />
                  <div>
                    <button class="button button-balanced button-large" style="white-space: nowrap;"
                    ui-sref="app.choose.camera-roll">Choose Your Days</button> 
                  </div>
                </div>

                <div ng-if="$root.counts.orders > 0">
                  <br />
                  <button class="button button-balanced button-large" style="white-space: nowrap;"
                    ui-sref="app.orders.complete">See Completed Orders</button> 
                </div>

              </div>
            </div>
          </div>
        </div>

      </ion-content>
    </ion-view>  