<!-- tab-order-complete.html -->
    <ion-view view-title="{{watch.viewTitle}}" hide-back-button="true" >
      <ion-nav-buttons side="primary">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content class="has-header ">

        <ion-refresher
          pulling-text=""
          on-refresh="on.refresh()">
        </ion-refresher>

        <div ng-repeat="order in filteredOrders = (watch.orders | filter:filterStatusComplete )">
          <div ng-include="'views/partials/order-card.html'"></div>
        </div>
        <div class="empty-list" ng-if="filteredOrders.length==0"> 
          <div class="card empty-list" >
            <div class="item item-text-wrap">
              <div class="text-center">
                <h2>You have no complete orders.</h2>

                <div ng-if="$root.counts.orders > 0">
                  <div class="text-left">
                    But there is something on the stove...
                  </div>
                  <br />
                  <div>
                    <button class="button button-assertive button-large" style="white-space: nowrap;"
                    ui-sref="app.orders.open">Show Me What's Cooking</button> 
                  </div>
                </div>

                <div ng-if="$root.counts.orders == 0">
                  <div class="text-left">
                    Why don't you start with some old vacation photos?
                  </div>
                  <br />
                  <div>
                    <button class="button button-balanced button-large" style="white-space: nowrap;"
                    ui-sref="app.choose.camera-roll">Choose Your Days</button> 
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

      </ion-content>
    </ion-view>