<ion-view title="Profile" id="profile">
  <ion-nav-buttons>
  </ion-nav-buttons>
  <ion-content class="has-header">

<div ng-if="on.isAnonymous()"> 
    <div ng-include="'partials/anonymous-signup'"></div> 

    <!-- header card : guest -->
    <div class="list card header-card">
      <div class="item item-divider item-energized">
        <i class="icon ion-person"> Sign-up</i>
      </div>

        <label class="item item-input item-icon-right">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username" placeholder="HappiGuy"
          ng-change="on.username.isChanged($event)">
          <i class="icon"  
          ng-class="on.username.ngClassValidIcon()"></i>
        </label>


        <div class="item item-input item-icon-right">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password" placeholder="Required"
          ng-change="on.password.isChanged($event)">
          <i class="icon"
          ng-class="on.password.ngClassValidIcon()"></i>
        </div>
        <label class="item item-input item-icon-right">
          <span class="input-label">Password</span>
          <input type="password" placeholder="(again)"
          ng-model="on.password.passwordAgainModel" 
          ng-change="on.password.isChanged($event)">
          <i class="icon"  
          ng-class="on.password.ngClassConfirmedIcon()"></i>
        </label>


        <div class="item item-input item-icon-right" >
          <span class="input-label">Email</span>
          <input type="text" ng-model="user.email" placeholder="me@gmail.com" 
          ng-change="on.email.isChanged($event)"> 
          <i class="icon"  ng-class="on.email.ngClassEmailIcon()"></i>
        </div>

        <button class="button button-block button-energized padding-horizontal" 
          ng-class="on.ngClassSubmit()"
          ui-sref="app.settings.main"
          ng-click="on.submit()"
          >Submit</button>
    </div>
</div>    

<div ng-if="!on.isAnonymous()">
    <div class="padding">
      <p class="text-center"><span class="username badge badge-positive capitalize padding"><i class="icon ion-person"> {{user.username}}</i></span></p>
      <p>Hello <span class="capitalize">{{user.username}}</span>. You can manage your account information below.</p>
    </div>
    <!-- header card : named user  -->
    <div class="list card header-card" >
      <div class="item item-divider item-energized">
        <i class="icon ion-person"> Profile</i>
      </div>
      <label class="item item-input item-icon-right">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.username" placeholder="HappiGuy" 
          ng-change="on.username.isChanged($event)">
        <i class="icon"  
          ng-class="on.username.ngClassValidIcon()"></i>
      </label>


      <div class="item item-input item-icon-right">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password" placeholder="Required" 
        ng-readonly="!on.password.dirty"
        >
        <i class="icon" tabindex=-1>
          <button class="button button-small button-assertive" ng-click="on.password.change($event)">
            <i class="icon ion-edit" 
            ng-show="!on.password.dirty"></i>
            <span ng-show="on.password.dirty">Cancel
            </span>
          </button>
        </i>
      </div>

      <label class="item item-input item-icon-right" ng-show="on.password.showPasswordAgain">
        <span class="input-label">Password</span>
        <input type="password" placeholder="(again)"
        ng-model="on.password.passwordAgainModel" 
        ng-change="on.password.isChanged($event)">
        <i class="icon"  
        ng-class="on.password.ngClassConfirmedIcon()"></i>
      </label>


      <div class="item item-input item-icon-right" >
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email" placeholder="me@gmail.com" 
        ng-change="on.email.isChanged($event)" >
        <i class="icon"  ng-class="on.email.ngClassEmailIcon()"></i>
      </div>

      <button class="button button-block button-assertive padding-horizontal" 
      ng-show="!on.email.dirty && !user.emailVerified"
      ui-sref="app.settings.main">
      Resend Email Verification
      </button>

      <button class="button button-block padding-horizontal" 
        ng-class="on.ngClassSubmit()"
        ui-sref="app.settings.main"
        ng-click="on.submit()"
        >Submit
      </button> 

    </div>
</div>

<div ng-if="on.currentState()=='app.settings.terms-of-service'">
    <div class="card header-card">
      <div class="item item-divider item-energized">
        {{headerCard.header}}
      </div>
      <div class="item item-text-wrap">
        <div>
          <h2>Terms of Service</h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
        </div>
        <div>
          <ion-checkbox ng-model="user.tos">I agree to the Terms of Service</ion-checkbox>
        </div>
      </div> 

      <div class="item item-divider item-energized">
         {{headerCard.footer}}
      </div>   
    </div>
</div>

  </ion-content>
</ion-view>




