<ion-view title="Profile" id="profile">
  <ion-nav-buttons>
  </ion-nav-buttons>
  <ion-content class="has-header">

<div ng-if="otgProfile.isAnonymous()"> 
    <div ng-include="'partials/anonymous-signup'"></div> 

    <!-- header card : guest -->
    <div class="list card header-card">
      <div class="item item-divider item-energized">
        <i class="icon ion-person"> Sign-up</i>
      </div>

      <div ng-include src="'partials/anonymous-signup-fields'"></div>

      <button class="button button-block button-energized padding-horizontal" 
        ng-class="otgProfile.ngClassSubmit()"
        ui-sref="app.settings.main"
        ng-click="otgProfile.submitP()"
        >
        Submit
      </button>
        
    </div>
</div>    

<div ng-if="!otgProfile.isAnonymous()">
    <div class="padding">
      <p class="text-center"><span class="username badge badge-positive capitalize padding"><i class="icon ion-person"> {{user.username}}</i></span></p>
      <p>Hello <span class="capitalize">{{user.username}}</span>. You can manage your account information below.</p>
    </div>
    <!-- header card : named user  -->
    <div class="list card header-card" >
      <div class="item item-divider item-energized">
        <i class="icon ion-person"> Profile</i>
      </div>

      <div ng-include src="'partials/anonymous-signup-fields'"></div>

      <!-- // anonymous only -->
      <button class="button button-block button-assertive padding-horizontal" 
      ng-if="!otgProfile.isAnonymous()"
      ng-show="!otgProfile.email.dirty && !user.emailVerified"
      ui-sref="app.settings.main">
      Resend Email Verification
      </button>

      <button class="button button-block button-energized padding-horizontal" 
        ng-class="otgProfile.ngClassSubmit()"
        ui-sref="app.settings.main"
        ng-click="otgProfile.submitP()"
        >
        Submit
      </button>      

    </div>
</div>

<div ng-if="otgProfile.currentState()=='app.settings.terms-of-service'">
    <div class="card header-card">
      <div class="item item-divider item-energized">
        {{headerCard.header}}
      </div>
      <div class="item item-text-wrap">
        <div>
          <h2>Terms of Service</h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
        </div>
        <div>
          <ion-checkbox ng-model="user.tos">I agree to the Terms of Service</ion-checkbox>
        </div>
      </div> 

      <div class="item item-divider item-energized">
         {{headerCard.footer}}
      </div>   
    </div>
</div>

  </ion-content>
</ion-view>




