   


<script id="partials/modal/pricing" type="text/ng-template">
  <div class="modal">
    <ion-content>
      <div class="bar-header bar bar-positive">
        <h1 class="title">Service Plans</h1>
          <button class="button button-icon icon ion-close-circled"
          ng-click="pricelist.hide()"></button>
      </div>
      <div ng-include="'partials/pricing'"></div>
      <button class="button button-full button-balanced" ng-click="pricelist.hide()">Done</button>
    </ion-content>
  </div>
</script>

<script id="partials/modal/console" type="text/ng-template">
  <div class="app-console-modal">
    <ion-content>
      <div class="bar-header bar bar-assertive">
        <h1 class="title">App Console</h1>
          <button class="button button-icon icon ion-close-circled"
          ng-click="appConsole.hide()"></button>
      </div>
      <div class="body padding" ng-click="appConsole.hide()">
        <div>
          <pre>{{appConsole.message}}</pre>
        </div>
      </div>
    </ion-content>
  </div>
</script>


<script id="partials/anonymous-signup" type="text/ng-template">
  <div class="padding">
    <h3 class="text-center">Hey You!</h3>
    <p>You are currently <span class="username badge badge-positive capitalize padding"><i class="icon ion-person"> anonymous</i></span></p>
    <p>You are welcome to continue - but beware that all your data will be lost when you delete the app.</p>
    <p>If you would like us to call you something else, why not sign-up with a clever username?</p>
  </div>
</script>

<script id="partials/anonymous-signup-fields" type="text/ng-template">
  <label class="item item-input item-icon-right">
    <span class="input-label">Username</span>
    <input type="text" ng-model="user.username" placeholder="HappiGuy"
    ng-change="otgProfile.username.isChanged($event)">
    <i class="icon"  
    ng-class="otgProfile.username.ngClassValidIcon()"></i>
  </label>

  <!-- // anonymous only -->
<div ng-if="otgProfile.isAnonymous()">
  <label class="item item-input item-icon-right">
    <span class="input-label">Password</span>
    <input type="password" ng-model="user.password" placeholder="Required"
    ng-change="otgProfile.password.isChanged($event)">
    <i class="icon"
    ng-class="otgProfile.password.ngClassValidIcon()"></i>
  </label>
</div>

  <!-- // named user only -->
<div ng-if="!otgProfile.isAnonymous()">
  <label class="item item-input item-icon-right">
    <span class="input-label">Password</span>
    <input type="password" ng-model="user.password" placeholder="Required" 
    ng-click="otgProfile.password.edit($event)"
    ng-readonly="!otgProfile.password.dirty"
    >
    <i class="icon" tabindex=-1 ng-show="!otgProfile.password.dirty">
      <button class="button button-small button-assertive" 
      ng-click="otgProfile.password.edit($event)">
        <i class="icon ion-edit"></i>
      </button>
    </i>
    <i class="icon"  
    ng-show="otgProfile.password.dirty"
    ng-class="otgProfile.password.ngClassValidIcon()"></i>
  </label>
</div>

<div ng-if="otgProfile.isAnonymous() || otgProfile.password.dirty">
  <label class="item item-input item-icon-right">
    <span class="input-label">Password</span>
    <input type="password" placeholder="(again)"
    ng-model="otgProfile.password.passwordAgainModel" 
    ng-change="otgProfile.password.isChanged($event)">
    <i class="icon"  
    ng-class="otgProfile.password.ngClassConfirmedIcon()"></i>
  </label>
</div>


  <div class="item item-input item-icon-right" >
    <span class="input-label">Email</span>
    <input type="text" ng-model="user.email" placeholder="me@email.com" 
    ng-change="otgProfile.email.isChanged($event)"> 
    <i class="icon"  ng-class="otgProfile.email.ngClassEmailIcon()"></i>
  </div>

</script>


<script id="partials/signin" type="text/ng-template">
<ion-content class="has-header">
    <div class="list card header-card">
      <div class="item item-divider item-energized">
        <i class="icon ion-person"> Sign In</i>
      </div>

  <label class="item item-input item-icon-right">
    <span class="input-label">Username</span>
    <input type="text" ng-model="user.username" placeholder="HappiGuy"
    ng-change="otgProfile.username.isChanged($event)">
  </label>

  <label class="item item-input item-icon-right">
    <span class="input-label">Password</span>
    <input type="password" ng-model="user.password" placeholder="Required"
    ng-change="otgProfile.password.isChanged($event)">
  </label>

      <button class="button button-block button-energized padding-horizontal" 
        ng-class="otgProfile.ngClassSignin()"
        ng-click="signIn($event)"
        >
        Submit
      </button>
        
    </div>
</ion-content>
</script>



<script id="partials/pricing" type="text/ng-template">
  <div class="card has-header">
    <div class="item item-divider text-center item-positive">
    Daily
    </div>
    <div class="item item-text-wrap text-center">
      <strong>$1/day</strong>
      <div>Unlimited photos over any 24 hrs, or 100 photos over any period</div>
    </div>
  </div>
  <div class="card">
    <div class="item item-divider text-center item-positive">
    Weekly
    </div>
    <div class="item item-text-wrap text-center">
      <strong>$5/week</strong>
      <div>Unlimited photos over any 7 consecutive days</div>
    </div>
  </div>
  <div class="card">
    <div class="item item-divider text-center item-positive">
    Monthly
    </div>
    <div class="item item-text-wrap text-center">
      <strong>$10/month</strong>
      <div>Unlimited photos over any 30 consecutive days</div>
    </div>
  </div>
</script>




<script type="text/ng-template" id="partials/otg-moment-date-range">
  <ion-list class="otg-moment-date-range text-center">
        <ion-item>
          <div class="list-group-item camera-roll-date"> 
            <!-- dates -->
            <ul class="list-inline" 
            ng-class="{'text-left':options.rows==2}">
              <button class="btn btn-from {{options.btnSize}} date selected start" >
                <div>{{summaryMoment.dateRange.from | date:'dd MMM'}}</div>
                <div class="day">{{summaryMoment.dateRange.from | date:'EEE'}}</div>
              </button>
              <li ng-repeat="photo in summaryMoment.value[0]">
                <img lazy-src="{{photo.id}}" title="Photo {{photo.date}}" 
                  width="{{options.thumbnailSize}}" 
                  height="{{options.thumbnailSize}}">
              </li>
              <button class="btn btn-to {{options.btnSize}} date selected end" 
              ng-if="options.rows==1">
                <div>{{summaryMoment.dateRange.to | date:'dd MMM'}}</div>
                <div class="day">{{summaryMoment.dateRange.to| date:'EEE'}}</div>
              </button>
            </ul>
            <!-- dates -->
            <ul class="list-inline text-right" ng-if="options.rows==2">
              <li ng-repeat="photo in summaryMoment.value[1]">
                <img lazy-src="{{photo.id}}" title="taken: {{photo.date}}" 
                  width="{{options.thumbnailSize}}" 
                  height="{{options.thumbnailSize}}">
              </li>
              <button class="btn btn-to {{options.btnSize}} date selected end" >
                <div>{{summaryMoment.dateRange.to | date:'dd MMM'}}</div>
                <div class="day">{{summaryMoment.dateRange.to| date:'EEE'}}</div>
              </button>
            </ul>
          </div>
        </ion-item>
  </ion-list>
</script>

