 <!-- template for directives/moment.js  -->


    <ion-list class="otg-moment">
      <div class="item"
        collection-repeat="moment in moments"
        collection-item-width="'100%'"
        collection-item-height="getMomentHeight(moment, $index)"
        >
          <ion-item>
            <div class="moment-label" ng-bind="getMomentLabel(moment)"></div>
            <div class="list-group-item camera-roll-date"
              ng-repeat="day in moment.value"> 

              <!-- dates -->
              <ul class="list-inline" 
              ng-class="{
                selected: otgWorkorder.isDaySelected(day), 
                included: otgWorkorder.isDayIncluded(day),
                'existing-order': otgWorkorder.isDayIncluded(day, true)
              }" >
                <button class="btn {{options.btnSize}} date" 
                  ng-click="otgWorkorder.on.selectByCameraRollDate($event)"
                  >
                  <div>{{day.key | date:'dd MMM'}}</div>
                  <div class="day">{{day.key | date:'EEE'}}</div>
                </button>
                <li ng-repeat="photo in photos = getAsPhotos(day.value) | limitTo:options.thumbnailLimit ">
                  <img lazy-src="{{photo.UUID}}" 
                  format='thumbnail' 
                  title="taken: {{photo.date}}" 
                  width="{{options.thumbnailSize}}" 
                  height="{{options.thumbnailSize}}">
                </li>
                <button class="btn {{options.btnSize}} end-cap"
                >
                  <span class="badge badge-dark" 
                  ng-show="more = getOverflowPhotos(photos)"
                  ng-click="on.hScrollable($event)">+{{more}}</span>
                </button>
              </ul>
            </div>


          </ion-item>
      </div>
    </ion-list>